/* take picture section */

.table-header {
  height: 100vh;
}

.take-picture{
  display: inline-flex;
  flex-direction: row;
  justify-content: space-between;
}
.button{
  justify-content: center;
  height: 60px;
  border: 3px  green;
  color: green;
  background-color: #4CAF50;
  padding: 15px 32px;
  margin-left: 100px;
}

/* display nutrients section */

.foodContainer {
  height: 85vh;
}

.foodTable {
  padding-top: 2rem;

  display: grid;
  grid-template-columns: repeat(2, auto);
  gap: 2rem 2rem;

  align-items: center;
  justify-items: center;

  font-size: 1.5rem;
}

.table-header {
  font-size: 2rem;
  color: var(--brand-green);
}

.tableFoodEl {
  font-size: 2.5rem;
  color: var(--dark-green);

  justify-self: start;
}

.tableEL {
  border: 1px black solid;
  padding: 1rem;
  background-color: violet;
}
