/* take picture section */

.take-photo-container {
  height: 85vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.capture-photo-btn {
  color: var(--background-white);

  border-radius: var(--border-radius);
  border: none;

  background-color: var(--brand-green);

  display: inline-block;
  text-decoration: none;
  color: var(--background-white);
  font-weight: 500;
  font-size: 2.2rem;
  transition: all 0.3s;

  padding: 1.1rem 2.2rem 1rem;
}

.capture-photo-btn:hover,
.capture-photo-btn:active {
  background-color: var(--hover-green);
}

.take-photo {
  padding-bottom: 3rem;
}

/* display nutrients section */

.food-container {
  height: 90vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.food-container > div {
  display: flex;
  gap: 8rem;
  margin: 0 auto;
}

.side-by-side {
  padding-top: 4rem;

  display: flex;
  gap: 8rem;
  justify-content: space-evenly;
}

.food-table {
  display: grid;
  grid-template-columns: repeat(2, auto);
  gap: 2rem 2rem;

  align-items: center;
  /* justify-items: center; */

  font-size: 1.5rem;
}

.table-header {
  font-size: 2rem;
  color: var(--brand-green);
}

.tableEL {
  border: 1px black solid;
  padding: 1rem;
}

/* display nutrition section */

.nutrition {
  /* display: grid;
  grid-template-columns: auto auto;
  grid-template-rows: 5rem repeat(auto-fill, 2rem); */
  width: 40rem;

  padding: 0.7rem 1.5rem;

  border: var(--dark-grey) solid 0.2rem;
}

.nutri-header {
  font-size: 4rem;
  font-weight: 700;
  letter-spacing: -0.2rem;

  padding-bottom: 0.8rem;
}

.nutri-text {
  color: var(--light-grey);
  font-size: 1.5rem;
  font-weight: 400;

  border-top: var(--dark-grey) solid 0.1rem;

  padding: 0.4rem 0;
}

.bold {
  font-weight: 600;
  color: var(--dark-grey);
}

.split-row {
  display: flex;
  justify-content: space-between;
}

.food-name {
  color: var(--dark-grey);

  border-top: none;
}

.thick-bottom-border {
  border-bottom: var(--dark-grey) solid 1.4rem;
}
.thin-bottom-border {
  border-bottom: var(--dark-grey) solid 0.8rem;
}

.right-align {
  text-align: right;
}

.nutri-tab {
  margin-left: 4rem;
}

.foot-note {
  padding-top: 1rem;

  font-size: 1.2rem;
}
